<div class="message" data-user-id="<%= message.user_id %>">
  <p>
    <%= message.content %>
  </p>
  <div class="message-info">
    <strong><%= message.user.name %></strong>
    <%= l(message.created_at, format: "%H:%M - %d/%m") %>
  </div>
</div>
